<!DOCTYPE html>
<html lang="en">

<head>
  <title>Meme Central</title>
  <%- include('./partials/head.ejs') %>
</head>

<body class="position-relative" data-bs-spy="scroll">
  <%- include('./partials/navbar.ejs', {authenticated: authenticated, username: username}) %>
  <section class="container">
    <br>
    <br>
    <div class="input-group">
      <input class="form-control" type="text" id="search" placeholder="Search for memes...">
      <input class="btn btn-primary" type="submit" onclick="searchTable()" value="Search">
    </div>
    <br><br>
    <table class="table text-center" id="table">
      <thead>
        <tr>
          <th scope="col">Image</th>
          <th scope="col">Name</th>
          <% if(authenticated){%>
          <th scope="col">Details</th>
          <%}%>
        </tr>
      </thead>
      <tbody>
        <% for(const [index,meme] of Object.entries(memes)){%>
        <tr id="<%= 'tr'+index %>">
          <td scope="col"><img src="<%=meme.url%>" height="<%= meme.height*0.20 %>" width="<%= meme.width*0.20 %>"></td>
          <td scope="col"><%= meme.name%></td>
          <% if(authenticated){ %>
          <td>
            <form id="<%= 'details-form-' + index %>" action="/meme" method="post" onsubmit="viewed()">
              <input type="text" class='d-none' value="<%=meme.id%>" name="id">
              <input type="text" class='d-none' value="<%=meme.name%>" name="name">
              <input type="text" class='d-none' value="<%=meme.url%>" name="url">
              <input type="text" class='d-none' value="<%=meme.width%>" name="width">
              <input type="text" class='d-none' value="<%=meme.height%>" name="height">
              <input type="text" class='d-none' value="<%=meme.box_count%>" name="box_count">
              <input type="text" class='d-none' value="<%=meme.captions%>" name="captions">
              <button type="button" class="btn btn-primary <%= 'details-form-' + index %>"
                onclick="viewed(event)">Details</button>
            </form>
          </td>
          <%}%>
        </tr>
        <%}%>
          </tbody>
    </table>
  </section>
  <%- include('./partials/scripts.ejs') %>
</body>

</html>