<!DOCTYPE html>
<html lang="en">

<head>
  <title>Portfolio</title>
  <!-- BM Chaneg the path to the css files -->
  <link rel="stylesheet" href="../../css/bootstrap.min.css" />
  <link href="../../stylesheets/navbar.css" rel="stylesheet">

</head>

<body class="position-relative" data-bs-spy="scroll">
  <%- include('./partials/navbar.ejs') %>
    <section class="container">
      <table class="table text-center" id="table">
        <thead>
          <tr>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
          </tr>
          <% for(const meme of memes){%>
            <tr>
              <td scope="col"><img src="<%=meme.url%>" height="<%= meme.height*0.20 %>" width="<%= meme.width*0.20 %>"></td>
              <td scope="col"><%= meme.name%></td>
            </tr>
          <%}%>
        </thead>
        <tbody>

          <tr>
            <th scope="row">
            </th>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
    <%- include('./partials/scripts.ejs') %>
</body>

</html>