<!DOCTYPE html>
<html lang="en">

<head>
  <title>Portfolio</title>
  <!-- BM Chaneg the path to the css files -->
  <link rel="stylesheet" href="../../css/bootstrap.min.css" />
  <link href="../../stylesheets/navbar.css" rel="stylesheet">

</head>

<body class="position-relative" data-bs-spy="scroll">
  <%- include('./partials/navbar.ejs') %>
  <section class="container">
    <br>
    <br>
    <input class="form-control" type="text" id="search" onkeyup="searchTable()" placeholder="Search for memes...">
    <br>
    <table class="table text-center" id="table">
      <thead>
        <tr>
          <th scope="col">Image</th>
          <th scope="col">Name</th>
          <th scope="col">Details</th>
        </tr>
      </thead>
      <tbody>
        <% for(const meme of memes){%>
        <tr>
          <td scope="col"><img src="<%=meme.url%>" height="<%= meme.height*0.20 %>" width="<%= meme.width*0.20 %>"></td>
          <td scope="col"><%= meme.name%></td>
          <td>
            <form action="/meme" method="post">
              <input type="text" class='d-none' value="<%=meme.id%>" name="id">
              <input type="text" class='d-none' value="<%=meme.name%>" name="name">
              <input type="text" class='d-none' value="<%=meme.url%>" name="url">
              <input type="text" class='d-none' value="<%=meme.width%>" name="width">
              <input type="text" class='d-none' value="<%=meme.height%>" name="height">
              <input type="text" class='d-none' value="<%=meme.box_count%>" name="box_count">
              <input type="text" class='d-none' value="<%=meme.captions%>" name="captions">
              <button type="submit" class="btn btn-primary">Details</button>
            </form>
          </td>
        </tr>
        <%}%>
        </tbody>
      </table>
    </section>
    <%- include('./partials/scripts.ejs') %>
</body>

</html>